#logo{
  width: 100vw;
  height: 10vh;
  background-color: #a89e9a;
  border-radius: 7px;
  font-size: 69px;
  color: white;
  text-align: center;
  font-family: CharpentierRenRed-Oblique;
}

header{
  width: 100vw;
  height: 3vh;
  background-color: #794F29;
  float: right;
}
