*{
  margin: 0;
  padding: 0;
  font-family: CharpentierRenRed-Oblique;
}

body{
  background-image:
  url(background.jpg);
}

#logo{
  width: 98.9vw;
  height: 10vh;
  background-color: #a89e9a;
  font-size: 69px;
  color: white;
  text-align: center;
  font-family: CharpentierRenRed-Oblique;
  background-image: url(logo.jpg);
}

#header{
  width: 100vw;
  height: 3vh;
  background-color: #794F29;
  float: right;
}

#pic{
width: 25vw;
height: 50vh;
margin-left: 26.7%
}

#pic img{
  width: 25vw;
  height: 50vh;
  margin-top: 25px;
  border-radius: 30px;
  border-color: #794f29;
  border-style: solid;
}

#pic2{
width: 44vw;
height: 50vh;
margin-left: 52.8%;
}

#pic2 img{
width: 44vw;
height: 50vh;
margin-top: 25px;
border-radius: 30px;
border-color: #794f29;
border-style: solid;
}

#pic3{
width: 25vw;
height: 50vh;
margin-left: 10px;
}

#pic3 img{
  width: 25vw;
  height: 50vh;
  margin-top: 25px;
  border-radius: 30px;
  border-color: #794f29;
  border-style: solid;
}

#PIC4{
width: 30vw;
height: 43vh;
background-color: #794F29;
float: right;
margin-top: 25px;
margin-bottom: 20px;
border-radius: 10px;
border-color: #794F29;
}

#PIC4 img{
  width: 30vw;
  height: 43vh;
  float: right;
  border-radius: 10px;
  border-color: #794F29;
}


#sidebar{
  width: 10vw;
  height: 83vh;
  background-color: #ad001a;
  float: left;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1.5px solid darkgreen;
  background-image: url(http://www2.oberlin.edu/amam/images/1944.34_000.jpg);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#body{
  width: 50vw;
  height: 150vh;
  background-color: #794F29;
  float: right;
  margin-left: 10px;
  margin-right: 45px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 23.8px;
  font-family: CharpentierRenRed-Oblique;
  color: #fcfcee;
}

#text{
  width: 30vw;
  height: 40vh;
  background-color: #794F29;
  float:right ;
  margin-top: 25px;
  text-align: center;
  border-radius: 10px;
  font-family: CharpentierRenRed-Oblique;
  font-size: 19px;
  color: #fcfcee;
}


#bild2{
  width: 20vw;
  height: 60vh;
  background-color: #794F29;
  float:right;
  margin-top: 25px;
  text-align: center;
  border-radius: 10px;
  margin-right: 75px;
  border-color: #794F29;
}

#bild2 img{
  width: 20vw;
  height: 60vh;
  border-radius: 10px;
}

#bodyman{
  width: 25vw;
  height: 43vh;
  background-color: #794F29;
  float: right;
  margin-right: 10px;
  margin-top: 25px;
  border-radius: 10px;
  text-align: center;
  font-family: CharpentierRenRed-Oblique;
  font-size: 23px;
  color: #fcfcee ;

}

#body2{
  color: #fcfcee;
  width: 44vw;
  height: 43vh;
  background-color: #794F29;
  float:right;
  margin-top: 25px;
  text-align: center;
  border-radius: 10px;
  margin-right: 41px;
  font-family: CharpentierRenRed-Oblique;
  font-size: 23px;
}


#footer{
  width: 100vw;
  height: 4vh;
  background-color: #00001a;
  float: right;
  border-radius: 3px;
}

#sidebar a{
  text-decoration: none;
  color: black;
  background-color: #794F29;
  padding: 20px;
  display: block;
  border-bottom: 2px solid lightblue;
  border-radius: 10px;
  margin: 8px;
  margin-bottom: 10px;
}

#sidebar a:hover{
  background-color: grey;
  color: white;
}

#sidebar h1{
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
}

@font-face {
  font-family: CharpentierRenRed-Oblique;
  src: url(CharpentierRenRed-Oblique.ttf);
}
