*{
  margin: 0;
  padding: 0;
  font-family: CharpentierRenRed-Oblique;
}

body{
  background-image:
  url(https://us.123rf.com/450wm/tukkki/tukkki1301/tukkki130100025/17125799-lineair-patroon-met-zilveren-lijnen-website-achtergrond-of-vakantie-inpakpapier-of-elegante-huwelijk.jpg?ver=6);
}

#logo{
  width: 100vw;
  height: 10vh;
  background-color: #a89e9a;
  border-radius: 7px;
  font-size: 69px;
  color: white;
  text-align: center;
  font-family: CharpentierRenRed-Oblique;
  float: right;
}

#header{
  width: 100vw;
  height: 3vh;
  background-color: #794F29;
  float: right;
}

#sidebar{
  width: 10vw;
  height: 83vh;
  background-color: #ad001a;
  float: left;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1.5px solid darkgreen;
  background-image: url(http://www2.oberlin.edu/amam/images/1944.34_000.jpg);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#picture{
  width: 20vw;
  height: 79vh;
  background-color: #ad001a;
  float: right;
  border-radius: 5px;
  margin-top: 25px;
  margin-right: 20px;
  border: 1.5px solid darkgreen;
  background-image: url(https://news.artnet.com/app/news-upload/2014/07/Mona_Lisa.jpg);
  background-position: center;
}

#body{
  width: 60vw;
  height: 300vh;
  background-color: #794F29;
  float: right;
  margin-left: 10px;
  margin-right: 45px;
  margin-top: 27px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  color: #fcfcee;
}

#footer{
  width: 100vw;
  height: 4vh;
  background-color: #00001a;
  float: right;
  border-radius: 3px;
}

#sidebar a{
  text-decoration: none;
  color: black;
  background-color: #794F29;
  padding: 20px;
  display: block;
  border-bottom: 2px solid lightblue;
  border-radius: 10px;
  margin: 8px;
  margin-bottom: 10px;
}

#sidebar a:hover{
  background-color: grey;
  color: white;
}

#sidebar h1{
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
}

@font-face {
  font-family: CharpentierRenRed-Oblique;
  src: url(CharpentierRenRed-Oblique.ttf);
}

#p1{
  padding: 10px;
}
