*{
  margin: 0;
  padding: 0;
  font-family: CharpentierRenRed-Oblique;
}

body{
  background-image:
  url('backgroundosc.jpg');
  background-size: auto;
}

#logo{
  width: 100vw;
  height: 10vh;
  border-radius: 7px;
  font-size: 69px;
  text-align: center;
  font-family: CharpentierRenRed-Oblique;
  background-image: url('Great_coat_of_arms_of_Sweden.svg.png');
  background-repeat:no-repeat;
  background-position:center;
}

#header{
  width: 100vw;
  height: 3vh;
  background-color: #794F29;
  float: right;
}

#sidebar{
  width: 10vw;
  height: 83vh;
  background-color: #ad001a;
  float: left;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1.5px solid darkgreen;
  background-image: url(http://www2.oberlin.edu/amam/images/1944.34_000.jpg);
  position: -webkit-sticky;
  position: sticky;
  top: 0
}

#body1{
  float: left;
  width: 60vw;
  height: 30vh;
  background-color: #794F29;
  margin-left: 10px;
  margin-right: 45px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
}
#body2{
  float: left;
  width: 60vw;
  height: 30vh;
  background-color: #794F29;
  margin-left: 10px;
  margin-right: 45px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
}
#body2 h2{
  text-align: center;
}
#footer{
  width: 100vw;
  height: 4vh;
  background-color: #00001a;
  float: right;
  border-radius: 3px;
}

#sidebar a{
  text-decoration: none;
  color: white;
  background-color: #794F29;
  padding: 20px;
  display: block;
  border-bottom: 2px solid lightblue;
  border-radius: 10px;
  margin: 8px;
  margin-bottom: 10px;
}

#sidebar a:hover{
  background-color: grey;
  color: white;
}

#sidebar h1{
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
}

@font-face {
  font-family: CharpentierRenRed-Oblique;
  src: url(CharpentierRenRed-Oblique.ttf);
}
