*{ /* Generella egenskaper för universal */
  margin: 0;
  padding: 0;
  font-family: CharpentierRenRed-Oblique;
}

body{ /* Generella egenskaper för body, bild och storlek på bilden */
  background-image:
  url('Bilder/backgroundosc.jpg');
  background-size: auto;
}

#logo{ /* Generella egenskaper för header delen, texten och bilden som sitter där */
  color: white;
  -webkit-text-stroke: 2px black;
  width: 100vw;
  height: 10vh;
  border-radius: 7px;
  font-size: 69px;
  text-align: center;
  font-family: CharpentierRenRed-Oblique;
  background-image: url('Bilder/Great_coat_of_arms_of_Sweden.svg.png');
  background-repeat:no-repeat;
  background-position:center;
}

#header{ /* Generella egenskaper för den bruna linjen som sepererar */
  width: 100vw;
  height: 3vh;
  border: 1px solid black;
  background-color: #794F29;
  float: right;
}

#sidebar{ /* Generella egenskaper för sidebaren, backgrundsbild och annat */
  width: 10vw;
  height: 83vh;
  background-color: #ad001a;
  float: left;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1.5px solid black;
  background-image: url(http://www2.oberlin.edu/amam/images/1944.34_000.jpg);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#body1{ /* Generella egenskaper för divven body1 */
  float: left;
  padding: 5px;
  width: 20vw;
  height: 48vh;
  border: 1.5px solid black;
  background-color: #794F29;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  color: #fcfcee;
}
#img1{  /* Generella egenskaper för divven img1, med bild */
  float: left;
  width: 29Vw;
  height: 40vh;
  background-color: #794F29;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1.5px solid black;
  text-align: center;
  font-size: 20px;
  color: #fcfcee;
  background-image:url('Bilder/poltava.jpg');
  background-size: cover;
}
#body2{ /* Generella egenskaper för divven body2 */
  float: left;
  width: 49vw;
  padding: 15px;
  border: 1.5px solid black;
  height: 30vh;
  background-color: #794F29;
  margin-left: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 20px;
  color: #fcfcee;
}
#body3{ /* Generella egenskaper för divven body3 */
  float: right;
  width: 32.7vw;
  padding: 15px;
  height: 70vh;
  border: 1.5px solid black;
  background-color: #794F29;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 20px;
  color: #fcfcee;
}
#body4{ /* Generella egenskaper för divven body4 */
  float: right;
  width: 32.7vw;
  padding: 15px;
  height: 70vh;
  border: 1.5px solid black;
  background-color: #794F29;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 20px;
  color: #fcfcee;
}
#body2 h2{ /* Generella egenskaper för h2en i body2 */
  text-align: center;
}
#sidebar a{ /* Generella egenskaper för texten i sidebar divven */
  color: black;
  text-decoration: none;
  background-color: #794F29;
  padding: 20px;
  display: block;
  border-bottom: 2px solid lightblue;
  border-radius: 10px;
  margin: 8px;
  margin-bottom: 10px;
}
#sidebar a:hover{ /* Hover egenskap för sidebaren */
  background-color: grey;
  color: white;
}
#footer{ /* Generella egenskaper för footern där information om bilderna finns */
  width: 100vw;
  height: 3vh;
  background-color: grey;
  float: right;
  margin-top: 17px;
  font-size: 11px;
}

#footer p{ /* Generella egenskaper för p texten i footern */
  text-align: center;
  color: #fcfcee;
  margin-top: 7px;
}
#sidebar h1{ /* Generella egenskaper för h1 texten i sidebar */
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
}
@font-face { /* Generella egenskaper för fonten */
  font-family: CharpentierRenRed-Oblique;
  src: url(CharpentierRenRed-Oblique.ttf);
}
