*{
  margin: 0;
  padding: 0;
  font-family: CharpentierRenRed-Oblique;
}

body{
  background-image:
  url(Bilder/backgroundsocietal.jpg);
  background-attachment: fixed;
}/*Backgrounds bild*/

#logo{/*Väljer "logo"*/
  -webkit-text-stroke: 2px black;
  width: 100vw;/*Brädden på loggan*/
  height: 10vh;/*Höjden på loggan*/
  background-color: #a89e9a;/*backgrounds färgen på loggan*/
  border-radius: 7px;
  font-size: 69px;/*Storlek på texten*/
  color: white;/*Text färg*/
  text-align: center;/*Centrerar texten*/
  font-family: CharpentierRenRed-Oblique;/*Text font*/
}

#header{/*Väljer "header"*/
  width: 100vw;/*Brädden på headern*/
  height: 3vh;/*Höjden på headern*/
  background-color: #794F29;/*Färgen på headern*/
  float: right;/*Lägger headern till höger*/
}

#sidebar{/*Väljer "sidebar"*/
  width: 10vw;/*Brädden på sidebaren*/
  height: 83vh;/*Höjden på sidebaren*/
  background-color: #ad001a;/*Backgrounds färgen på sidebaren*/
  float: left;/*Lägger sidebaren till vänster*/
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1.5px solid darkgreen;/*Sätter en grön border runt sidebaren*/
  background-image: url(http://www2.oberlin.edu/amam/images/1944.34_000.jpg);/*Backgrounds bilden i sidebaren*/
  position: -webkit-sticky;
  position: sticky;/*Gör att sidebaren alltid har samma avstånd från alla sidor även om man skrollar*/
  top: 0
}

#text1{/*Väljer första textrutan*/
  width: 42vw;/*Brädden på första textrutan*/
  height: 83vh;/*Höjden på första textrutan*/
  background-color: #794F29;/*Backgrounds färgen på första textrutan*/
  float: right;/*Lägger textrutan till höger*/
  margin-left: 10px;
  margin-right: 45px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: center;/*Centrerar texten i textrutan*/
  font-size: 20px;/*Storleken på texten*/
  color: #fcfcee;/*text färg*/
}

#text2{/*Väljer andra textrutan*/
  width: 33vw;/*Brädden på andra textrutan*/
  height: 50vh;/*Höjden på andra textrutan*/
  background-color: #794F29;/*Backgrounds färgen på andra textrutan*/
  float: right;/*Lägger textrutan till höger*/
  margin-left: 10px;
  margin-right: 45px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: center;/*Centrerar texten i textrutan*/
  font-size: 20px;/*Storleken på texten*/
  color: #fcfcee;/*Text färg*/
}

#footer{/*Väljer "footer"*/
  width: 100vw;/*Brädden på footern*/
  height: 4vh;/*Höjden på footern*/
  background-color: #00001a;/*färgen på footern*/
  float: right;/*Lägger footern till höger*/
  border-radius: 3px;
}

#sidebar a{/*Väljer länkarna i sidebaren*/
  text-decoration: none;/*Tar bort all text decoration*/
  color: black;/*Text färg*/
  background-color: #794F29;/*Backgrounds färg*/
  padding: 20px;
  display: block;
  border-bottom: 2px solid lightblue;/*Sätter en ljus blå border under*/
  border-radius: 10px;
  margin: 8px;
  margin-bottom: 10px;
}

#sidebar a:hover{/*Väljer länkarna när man har musen över dem*/
  background-color: grey;/*Backgrounds färg*/
  color: white;/*Text färg*/
}

#sidebar h1{/*Väljer rubriken i sidebaren*/
  color: white;/*Text färg*/
  text-align: center;/*Centrerar texten*/
  margin-top: 10px;
  font-size: 40px;
}

@font-face {
  font-family: CharpentierRenRed-Oblique;
  src: url(CharpentierRenRed-Oblique.ttf);
}/*Font*/
