*{
  margin: 0;
  padding: 0;
  font-family: CharpentierRenRed-Oblique;
}

body{
  background-image:
  url(Bilder/backgroundsocietal.jpg);
  background-attachment: fixed;
}/*Backgrounds bild*/

#logo{/*Väljer "logo"*/
  width: 100vw;/*Brädden på loggan*/
  height: 10vh;/*Höjden på loggan*/
  background-color: #a89e9a;/*backgrounds färgen på loggan*/
  border-radius: 7px;
  font-size: 69px;/*Storlek på texten*/
  color: white;/*Färgen på texten*/
  text-align: center;/*Centrerar texten*/
  font-family: CharpentierRenRed-Oblique;/*Text font*/
}

#header{/*Väljer "header"*/
  width: 100vw;/*Brädden på headern*/
  height: 3vh;/*Höjden på headern*/
  background-color: #794F29;/*Färgen på headern*/
  float: right;/*Lägger headern till höger*/
}

#sidebar{/*Väljer "sidebar"*/
  width: 10vw;/*Brädden på sidebaren*/
  height: 83vh;/*Höjden på sidebaren*/
  background-color: #ad001a;/*Backgrounds färgen på sidebaren*/
  float: left;/*Lägger sidebaren till vänster*/
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1.5px solid darkgreen;/*Sätter en grön border runt sidebaren*/
  background-image: url(http://www2.oberlin.edu/amam/images/1944.34_000.jpg);/*Backgrounds bilden i sidebaren*/
  position: -webkit-sticky;
  position: sticky;/*Gör att sidebaren alltid har samma avstånd från alla sidor även om man skrollar*/
  top: 0
}

#text1{/*Väljer första textrutan*/
  width: 42vw;/*Brädden på första textrutan*/
  height: 83vh;/**/
  background-color: #794F29;
  float: right;
  margin-left: 10px;
  margin-right: 45px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  color: #fcfcee;
}

#text2{
  width: 33vw;
  height: 50vh;
  background-color: #794F29;
  float: right;
  margin-left: 10px;
  margin-right: 45px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  color: #fcfcee;
}

#footer{
  width: 100vw;
  height: 4vh;
  background-color: #00001a;
  float: right;
  border-radius: 3px;
}

#sidebar a{
  text-decoration: none;
  color: black;
  background-color: #794F29;
  padding: 20px;
  display: block;
  border-bottom: 2px solid lightblue;
  border-radius: 10px;
  margin: 8px;
  margin-bottom: 10px;
}

#sidebar a:hover{
  background-color: grey;
  color: white;
}

#sidebar h1{
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
}

@font-face {
  font-family: CharpentierRenRed-Oblique;
  src: url(CharpentierRenRed-Oblique.ttf);
}
