*{
  margin: 0;
  padding: 0;
  font-family: CharpentierRenRed-Oblique;
}

@font-face {
  font-family: CharpentierRenRed-Oblique;
  src: url(CharpentierRenRed-Oblique.ttf);
}

#logo{
  width: 100vw;
  height: 10vh;
  background-color: #a89e9a;
  float: right;
  font-size: 69px;
  text-align: center;
  font-family: CharpentierRenRed-Oblique;
  color: white;
  padding-bottom: 10px;
}


#logo2{
  width: 100vw;
  height: 3vh;
  background-color: #794F29;
  float: right;
}


#sidebar{
  width: 10vw;
  height: 83vh;
  background-color: #ad001a;
  float: left;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1.5px solid darkgreen;
  background-image: url(http://www2.oberlin.edu/amam/images/1944.34_000.jpg);
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  margin-right: 70px;
  margin-top: 110px;
}

#sidebar a{
  text-decoration: none;
  color: black;
  background-color: #794F29;
  padding: 20px;
  display: block;
  border-bottom: 2px solid lightblue;
  border-radius: 10px;
  margin: 8px;
  margin-bottom: 10px;
}

#sidebar a:hover{
  background-color: grey;
  color: white;
}

#sidebar h1{
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
}

#text1{
  width: 45vw;
  height: 35vh;
  background-color: #794F29;
  border-radius: 10px;
  float: left;
  margin-top: 25px;
  font-size: 20px;
  margin-left: 200px;
}


#text1 h1{
  font-size: 40px;
  margin: 10px;
}

#text1 p{
  padding-left: 10px;
  padding-right: 10px;
}

#bild1{
  width: 33vw;
  height: 35vh;
  background-color: #794F29;
  border-radius: 10px;
  float: right;
  margin-top: 25px;
  background-image: url(boi.jpg);
  background-size: cover;
  margin-right: 40px;
}

#text2{
  width: 40vw;
  height: 50vh;
  background-color: #794F29;
  float: left;
  margin-top: 70px;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 200px;
}


#text2 h1{
  font-size: 40px;
  margin: 10px;
}

#text2 p{
  padding-left: 10px;
  padding-right: 10px;
}

#bild2{
  float: right;
  width: 17vw;
  height: 50vh;
  background-color: black;
  border-radius: 10px;
  margin-top: 70px;
  background-image: url(Galileo_moon.png);
  margin-right: 40px;
  background-size: cover;
}

#bild3{
  float: right;
  width: 17vw;
  height: 50vh;
  background-color: black;
  border-radius: 10px;
  margin-top: 70px;
  margin-right: 40px;
  background-image: url(sid.jpg);
  background-size: cover;
}


/*
#test1{
  width: 20vw;
  height: 20vh;
  border: black 10px solid;
  background-color: green;
}

#test2{
  width: 20vw;
  height: 20vh;
  border: black 10px solid;
  background-color: green;
}


#test3{
  width: 20vw;
  height: 20vh;
  border: black 10px solid;
  background-color: green;
}

#test4{
  width: 20vw;
  height: 20vh;
  border: black 10px solid;
  background-color: green;
}

#test5{
  width: 20vw;
  height: 20vh;
  border: black 10px solid;
  background-color: green;
}
*/
